{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container box-container">
  <h5>Stock Charts</h5>
  <p>The following page contains selected stock price charts, updated daily. <br>
  The Y-axis shows relative stock price values since beginning of the current year.<br>
  The charts can be toggled on and off.
  </p>
</div>

<div class="container box-container">
	<div id="chart-container">
    <div id="toggle-buttons-container"></div>
  </div>
</div>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script type="module" src="{% static 'stockmarket/js/stockprices_chart.js' %}"></script>
<link rel="stylesheet" href="{% static 'stockmarket/css/stockmarket.css' %}">


{% endblock %}
