# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Airflow logs and metadata
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/unittests.cfg
airflow/webserver_config.py

# SQLite fallback
*.sqlite
*.sqlite3

# Local environment & secrets
.env
*.env

# Python virtual environments
venv/
env/
.venv/
pip-wheel-metadata/

# Jupyter/IPython
.ipynb_checkpoints/

# VSCode / IDE files
.vscode/
.idea/
*.code-workspace

# System files
.DS_Store
Thumbs.db

# Docker-related
__MACOSX/
*.bak
*.swp
docker-compose.override.yml
