.literaturePage {
  margin: var(--apps-margin);
  display: grid;
  grid-template-areas:
    "tabsArea"
    "literatureApp";
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
}

.literatureApp {
  grid-area: literatureApp;
  display: grid;
  grid-template-areas:
    "inputArea"
    "resultArea";
  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr;
}

.inputArea {
  grid-area: inputArea;
  display: grid;
  grid-template-areas:
    "searchBar uploadArea";
  grid-template-columns: 250px 150px;
  padding: 20px;
  border-bottom: 2px solid var(--color-border);
}
.searchBar {
  grid-area: searchBar;
  width: 200px;
}

.uploadArea {
  grid-area: uploadArea;
}

.resultArea {
  grid-area: resultArea;
  min-width: 0;
  padding: 20px;
}

.resultArea table {
  width: 100%;
  table-layout: fixed;
}

.resultArea th, .resultArea td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultArea th:nth-child(1), .resultArea td:nth-child(1) { width: 35%; } /* Title */
.resultArea th:nth-child(2), .resultArea td:nth-child(2) { width: 20%; } /* Author */
.resultArea th:nth-child(3), .resultArea td:nth-child(3) { width: 25%; } /* keywords */
.resultArea th:nth-child(4), .resultArea td:nth-child(4) { width: 12%; } /* download file */
.resultArea th:nth-child(5), .resultArea td:nth-child(5) { width: 8%; } /* views */



.appInfoArea {
  grid-area: appInfoArea;
  display: grid;
  grid-template-areas: 
    "appDescArea appDocsArea";
  grid-template-rows: 30px;
  grid-template-columns: 250px 250px;
  padding: 20px;
  padding-top: 8px;
  border-bottom: 2px solid var(--color-border);

}

