.literaturePage {
  display: grid;
  grid-template-areas:
    "searchBar uploadArea empty"
    "resultArea resultArea resultArea";
  grid-template-columns: 250px 150px 1fr;
  grid-template-rows: 80px 1fr;
  min-height: 100vh;
}

.searchBar {
  grid-area: searchBar;
  height: 30px;
}

.searchBar input {
  height: 100%;
}

.resultArea {
  grid-area: resultArea;
  min-width: 0;
}

.resultArea table {
  width: 100%;
  table-layout: fixed;
}

.resultArea th, .resultArea td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.resultArea th:nth-child(1), .resultArea td:nth-child(1) { width: 35%; } /* Title */
.resultArea th:nth-child(2), .resultArea td:nth-child(2) { width: 20%; } /* Author */
.resultArea th:nth-child(3), .resultArea td:nth-child(3) { width: 25%; } /* keywords */
.resultArea th:nth-child(4), .resultArea td:nth-child(4) { width: 12%; } /* download file */
.resultArea th:nth-child(5), .resultArea td:nth-child(5) { width: 8%; } /* views */

.uploadArea {
  grid-area: uploadArea;
  padding-left: 15px;
}