jkirstein.dk, www.jkirstein.dk {
  encode zstd gzip

  handle /api/* {
    reverse_proxy backend:5000
  }

  handle_path /foundation-response/* {
    reverse_proxy foundation-response-api:8100
  }

  handle {
    reverse_proxy frontend:80
  }

  log {
    output stdout
    format console
    level INFO
  }
}
