jkirstein.dk, www.jkirstein.dk {
  encode zstd gzip

  handle_path /api/* {
    reverse_proxy http://backend:5000
  }

  handle {
    reverse_proxy http://frontend:80
    # or, if mounting dist into Caddy:
    # root * /usr/share/caddy
    # try_files {path} /index.html
    # file_server
  }

  log {
    output stdout
    format console
    level INFO
  }
}
