:root {
  --palette-gray-950: #000000;
  --palette-gray-900: #171515;
  --palette-gray-800: #2e2c2c;
  --palette-gray-700: #3a3a3a;
  --palette-gray-400: #7c7c7c;
  --palette-gray-300: #929292;
  --palette-gray-250: #afafaf;
  --palette-gray-200: #cccccc;

  /* Slardar theme colors */
  --theme-light: #8A4632;
  --theme-dark: #200f00;
  --theme-mute: #917e7e;

  /* Sven theme colors */

  /* Background */
  --background-page-color-1: var(--palette-gray-950);
  --background-page-color-2: var(--theme-dark);

  /* Borders */
  --border-standard-color: var(--palette-gray-900);

  /* Windows */
  --background-window: var(--palette-gray-900);
  --background-window-2: var(--palette-gray-800);
  --background-window-3: var(--palette-gray-700);

  /* Topbar */
  --color-topbar-background: var(--palette-gray-800);
  
  /* Sidebar */
  --color-sidebar-background: var(--palette-gray-700);

  /* Fonts */
  --color-text: var(--palette-gray-300);
  --color-link-hover: var(--theme-light);
  --color-label: var(--palette-gray-250);
  --color-h1: var(--palette-gray-250);
  --color-h2: var(--palette-gray-250);
  --color-h3: var(--palette-gray-250);
  --color-h4: var(--palette-gray-300);
  --color-th: var(--palette-gray-250);
  --color-tabs-font: var(--palette-gray-250);

}


