:root {
	/* Front sizes */
	--font-size-base: 16px;
	--font-size-h1: 32px;
	--font-size-h2: 24px;
	--font-size-h3: 20px;
	--font-size-h4: 18px;

	--font-size-label: 0.875rem;
	--font-line-height-base: 1.6rem;


	/* Spaces */
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;
	--space-6: 32px;
	--space-7: 48px;

	/* Borders */
	--border-width: 1px;
	--border-style: solid;
	--border-standard: var(--border-width) var(--border-style) var(--border-standard-color);

	/* Inputs */
	--outline-width: 1px;
	--outline-style: solid;
	--outline-standard: var(--outline-width) var(--outline-style) var(--orange-rust);

	/* Radii */
	--radius-1: 4px;
	--radius-2: 8px;
	--radius-3: 16px;

	/* Top bar*/
	--topbar-font-size: 24px;
	--topbar-font-weight: 500;
	--topbar-font-family: 'Montserrat', sans-serif;

	/* Tabs */
	--tabs-background-color: var(--background-window);
	--tabs-background-color-active: var(--background-window-2);
	--tabs-height: var(--space-7);
	--tabs-width: 180px;

	/* Apps */
	--apps-margin: var(--space-6);

	/* Figures */
	--figure-margin: 1.5rem auto;
	--figure-text-align: center;
}