:root {
	/* Front sizes */
	--font-size-base: 16px;
	--font-size-h1: 48px;
	--font-size-h2: 36px;
	--font-size-h3: 28px;
	--font-size-h4: 24px;

	--font-line-height-base: 1.6rem;


	/* Spaces */
	--space-1: 4px;
	--space-2: 8px;
	--space-3: 12px;
	--space-4: 16px;
	--space-5: 24px;
	--space-6: 32px;

	/* Borders */
	--border-width: 1px;
	--border-style: solid;
	--border-standard: var(--border-width) var(--border-style) var(--palette-gray-900);
	--border-strong: var(--border-width) var(--border-style) var(--palette-gray-950);
	--border-focus: var(--border-width) var(--border-style) var(--orange-rust);

	/* Inputs */
	--outline-width: 1px;
	--outline-style: solid;
	--outline-standard: var(--outline-width) var(--outline-style) var(--orange-rust);

	/* Radii */
	--radius-1: 4px;
	--radius-2: 8px;
	--radius-3: 16px;

	/* Colors */
	--background-page-color-1: var(--palette-gray-950);
	--background-page-color-2: var(--orange-dark);
	--background-window: var(--palette-gray-900);
	--background-window-2: var(--palette-gray-800);
	--background-window-3: var(--palette-gray-700);
  	--color-topbar-background: var(--palette-gray-800);
  	--color-sidebar-background: var(--palette-gray-800);
	--color-text: var(--palette-gray-300);
	--link-hover: var(--orange-rust);

	/* Top bar*/
	--topbar-font-size: 24px;
	--topbar-font-weight: 500;
	--topbar-font-family: 'Montserrat', sans-serif;

	/* Tabs */
	--tabs-background-color: var(--background-window);
	--tabs-background-color-active: var(--background-window-2);
}