{% load static %}

<div class="sidebar">
	<ul style="list-style: none;">
		<li>
			<a class="sidebar-link" href="/">News</a>
		</li>

		<li>
			<a class="sidebar-link" href="/literature">Literature Database</a>
		    <ul style="list-style: none;">
		        <li><a class="sidebar-link" href="/literature">Database Items</a></li>
		        <li><a class="sidebar-link" href="/literature/upload">Upload Item</a></li>
		    </ul>
		</li>

		<li>
			<a class="sidebar-link" href="/foundationResponse/models/">Foundation Response Predictor</a>
		    <ul style="list-style: none;">
		        <li><a class="sidebar-link" href="/foundationResponse/models/">Models</a></li>
		        <li><a class="sidebar-link" href="/foundationResponse/documentation/">Documentation</a></li>
		    </ul>
		</li>

		<li>
			<a class="sidebar-link" href="/stockmarket/">Selected Stocks Performance</a>
		</li>
	</ul>
</div>