.tabsArea {
  grid-area: tabsArea;
  display: flex;
  align-items: center;
}

.tab {
  width: var(--tabs-width);
  height: var(--tabs-height);
  z-index: 10;
  background-color: var(--tabs-background-color);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  transform: translateY(var(--border-width));
}

.tab-active {
  background-color: var(--tabs-background-color-active);
}