.appWindow {
  margin: var(--apps-margin);
  display: grid;
  grid-template-areas:
    "tabsArea"
    "appArea";
  grid-template-columns: 1fr;
  grid-template-rows: var(--tabs-height) 1fr;
  min-height: 100vh;
}

.tabsArea {
  grid-area: tabsArea;
  display: flex;
  align-items: center;
}

.appArea {
  grid-area: appArea;
}

.tab {
  font-weight: var(--tabs-font-weight);
  color: var(--color-tabs-font);
  width: var(--tabs-width);
  height: var(--tabs-height);
  z-index: 10;
  background-color: var(--tabs-background-color);
  border-top-left-radius: var(--radius-2);
  border-top-right-radius: var(--radius-2);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  transform: translateY(var(--border-width));
}

.tab-active {
  background-color: var(--tabs-background-color-active);
}