.rootWindow {
  display: grid;
  grid-template-areas:
    "left_edge mainWindow right_edge"
    "left_edge footer right_edge";
  grid-template-columns: 1fr 1340px 1fr;
  grid-template-rows: 1fr 90px;
  min-height: 110vh;
}

.mainWindow {
  grid-area: mainWindow;
  display: grid;
  grid-template-areas:
    "topbar topbar"
    "window sidebar";
  grid-template-columns: 1fr 340px;
  grid-template-rows: 80px 1fr;
  padding: var(--space-3);
  background-color: var(--background-window);
  border-left: var(--border-strong);
  border-right: var(--border-strong);
  height: 100%;
}

.window {
  grid-area: window;
  background-color: var(--background-window-2);
  color: var(--color-text);
  padding: var(--space-3);
  border: var(--border-standard);
  border-radius: var(--radius-3);
}

.subWindowGrey {
  color: var(--color-text);
  background-color: var(--background-window-3);
  border-radius: var(--radius-2);
  margin: var(--space-2);
  padding: var(--space-1);
  border: var(--border-standard);
}

.subWindowDark {
  color: var(--color-text);
  background-color: var(--background-window-2);
  border-radius: var(--radius-2);
  margin: var(--space-2);
  padding: var(--space-1);
  border: var(--border-standard);
}

.left_edge {
  grid-area: left_edge;
}

.right_edge {
  grid-area: right_edge;
}