html, body {
  margin: 0;
  padding: 0;
}

/* Headers */
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
h1 { font-weight: 700; }
h2 { font-weight: 600; }
h3 { font-weight: 500; }
h4 { font-weight: 500; }

body {
  background-image: radial-gradient(ellipse, var(--background-page-color-2), var(--background-page-color-1));
  height: 100vh;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

input,
button {
  width: 100%;
  height: var(--space-6);
  padding: var(--space-1) var(--space-4);
  border: var(--border-standard);
  border-radius: var(--radius-1);
  box-sizing: border-box;
}

input:focus {
  outline: var(--outline-standard);
}

button,
nav,
.label {
  font-weight: 500;
}

figure {
  margin: var(--figure-margin);
  text-align: var(--figure-text-align);
}

figcaption {
  font-size: var(--font-size-label);
  color: var(--color-label);