.sidebar {
  grid-area: sidebar;
  display: flex;
  color: var(--color-text);
  background-color: var(--color-sidebar-background);
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 20px;
  margin: 30px;
  margin-left: 0px;
}
