.sidebar {
  grid-area: sidebar;
  display: flex;
  color: var(--color-text);
  background-color: var(--color-sidebar-background);
  padding: 18px;
  padding-right: 40px;
  border: 2px solid var(--color-border);
  border-radius: 20px;
}
