{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="box">
    <h1>The Literature App</h1>
    <p>This app contains literature from my personal literature database. <br>
    The literature can be shown in the webbrowser or downloaded.</p>
</div>

<div class="box">
    <h2>Search Literature Items</h2>
    <p>Searches through title, author and tags.</p>
    <form method="GET" action="">
        <input type="text" name="query" placeholder="Search" value="{{ request.GET.query }}">
        <input type="submit" value="Search">
    </form>
</div>

<div class="box">
    <table>
        <thead>
            <tr>
                <th style="width: 5%;">#</th>
                <th style="width: 15%;">Author</th>
                <th style="width: 40%;">Title</th>
                <th style="width: 40%;">Tags</th>
            </tr>
        </thead>
        <tbody>
            {% if objects %}
                {% for i in objects %}
                    <tr class="literature-table-td">
                        <th>{{ forloop.counter }}</th>
                        <td>{{ i.author }}</td>
                        <td><a class="text-link" href="{{ i.get_absolute_url }}">{{ i.title }} </a></td>
                        <td>{{ i.description }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-left">No literature found.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}
