.rust_fe {
  display: grid;
  grid-template-columns: 800px 1fr;
  grid-template-rows: 300px 200px 800px;
  margin: auto;
  grid-template-areas:
    "intro previous_calculations"
    "input_form previous_calculations"
    "results results";
}

.rust_fe .intro {
  grid-area: intro;
}

.rust_fe .input_form {
  grid-area: input_form;
}

.rust_fe .results {
  grid-area: results;
}

.rust_fe .previous_calculations {
  grid-area: previous_calculations;
}