{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container box-container">
  <h1>Rust FE</h1>
  <p>This is the Rust FE calculator page.
  <ul>
    <li>The FE engine is currently using bar elements.</li>
    <li>Forces and BCs are applied selected nodes.</li>
    <li>BCs can be fixed or springs.</li>
  </ul>
  </p>
  <p>The app is currently under deployment.
  </p>
</div>

<div class="container box-container">
  <h2>Input form</h2>
</div>

<div class="container box-container">
  <h2>Results</h2>
</div>
{% endblock %}
