{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container box-container">
    <h3>Resume</h3>
        <p>I’m a Civil Engineer with a strong passion for computational systems, data and AI.</p>
    <h5>Civil Engineering Work</h5>
        <p>I work as a geotechnical engineer where I merge computational engineering with structural and geotechnical engineering. On large projects I focus on optimizing systems and workflows. Particularly involved in automating data workflows and transformation processes for non-linear finite element calculations on major infrastructure projects such as Aarhus Ø, Storstrøms Bridge, and NEOM The Line.</p>
    <h5>A Passion for Computational Systems</h5>
        <p>Outside of work, I'm exploring the large possibilities in computational engineering, both experimenting with databases, streaming, ML and optimized calculation models in system languages.</p>
    <h5>Other Passions</h5>
        <p>Beside loosing to my wife in boardgames, I am very passionate about music and rock climbing.</p>
</div>

{% endblock %}
