<hr class="footer-separator">
<footer class="footer background-color">
  <div class="text-center footer-text">
    <p class="mb-1">© 2025 Joachim Kirstein</p>
    <p class="mb-1 footer-link">
      <a href="mailto:jmk1589@gmail.com">Email</a> |
      <a href="https://www.linkedin.com/in/joachim-maaloe-kirstein-72809771/">LinkedIn</a> |
      <a href="https://github.com/Krusovice">GitHub</a>
    </p>
    <p class="text-muted">
      No liability accepted for use of tools or predictions.
    </p>
  </div>
</footer>