<div class="footer">
  <p class="footer-text">© 2025 Joachim Kirstein</p>

  <div class="footer-links">
    <a class="footer-text footer-link" href="mailto:jmk1589@gmail.com">Email</a> |
    <a class="footer-text footer-link" href="https://www.linkedin.com/in/joachim-maaloe-kirstein-72809771/">LinkedIn</a> |
    <a class="footer-text footer-link" href="https://github.com/Krusovice">GitHub</a>
  </div>
  
  <p class="footer-text" style="opacity: 0.6">
    No liability accepted for use of tools or predictions.
  </p>
</div>