{% load static %}
<div id="topbar">
	<div class="sidebar__icon">
		<img src="{% static 'core/img/menu_icon.png' %}" alt="sidebar-icon" style="width: 100%; position: relative; top: 0px;">
	</div>
</div>

<div class="sidebar">

	

	<ul style="list-style: none;">
		<li>
			<a class="sidebar-link" href="/">News</a>
		</li>

		<li>
			<a class="sidebar-link" href="/literature">Literature Database</a>
		    <ul style="list-style: none;">
		        <li><a class="sidebar-link" href="/literature">Database Items</a></li>
		        <li><a class="sidebar-link" href="/literature/upload">Upload Item</a></li>
		    </ul>
		</li>

		<li>
			<a class="sidebar-link" href="/foundationResponse/models/">Foundation Response Predictor</a>
		    <ul style="list-style: none;">
		        <li><a class="sidebar-link" href="/foundationResponse/models/">Models</a></li>
		        <li><a class="sidebar-link" href="/foundationResponse/documentation/">Documentation</a></li>
		    </ul>
		</li>
		    
		<li>
			<a class="sidebar-link" href="/rust_fe/">Rust FE</a>
			<ul style="list-style: none;">
		        <li><a class="sidebar-link" href="#">Calculator</a></li>
		        <li><a class="sidebar-link" href="#">Documentation</a></li>
		    </ul>
		</li>

		<li>
			<a class="sidebar-link" href="/stockmarket/">Selected Stocks Performance</a>
		</li>
	</ul>
</div>

<script src="{% static 'js/sidebar.js' %}"></script>