{% load static %}
<div id="navbar-top">
</div>

<div id="navbar-side">
	<ul style="list-style: none;">
		<li>
			<a class="navbar-link" href="/">News</a>
		</li>

		<li>
			<a class="navbar-link" href="/literature">Literature Database</a>
		</li>

		<li>
			<a class="navbar-link" href="/foundationResponse/">Foundation Response Predictor</a>
		    <ul class="navbar-dropdown-menu" style="list-style: none;">
		        <li><a class="navbar-link" href="/foundationResponse/">Models</a></li>
		        <li><a class="navbar-link" href="/foundationResponse/">Documentation</a></li>
		    </ul>
		</li>
		    
		<li>
			<a class="navbar-link" href="/">Rust FE</a>
		</li>
	</ul>
</div>

<script src="{% static 'js/navbar.js' %}"></script>