:root {
  /* Rust palette */
  --rust-black: #000000;
  --rust-orange-bright: #DEA584;
  --rust-orange-dark: #8A4632;
  --rust-beige: #F4EDE4;

  --sublime-white: #F8F8F2;
  --sublime-tab-inactive-text: #A6A690;
  --purple: #AE81FF;
  --dark-grey: #272822;
  --sublime-orange: #FD971F;
  --color-tab-inactive: #4A4A3D;
  --color-tab-active-text: #F8F8F2;
  --color-border: #1E1F1C;

  --dark-purple: #0b0714;
  --dark-purple-elevated: #151027;
  --color-background: var(--dark-grey);
  --color-text: var(--rust-black);
  --color-topbar: var(--rust-orange-dark);
  --color-topbar-link: var(--rust-black);
  --color-topbar-link-hover: var(--rust-orange-dark);
  --color-sidebar: var(--rust-orange-bright);
  --color-border: var(--rust-black);
  --color-edge: var(--dark-purple);

  /*
  Not used colors
  */
  
  /* Sublime palette */

}


