{% extends 'base.html' %}
{% block content %}
{% for news in news_items %}
    <div class="container box-container">
        <h5>{{ news.title }}</h5>

        <p>{{ news.content|linebreaks }}</p>

        {% if news.pdf %}
                <a href="{{ news.pdf.url }}" class="btn btn-primary" target="_blank">Read PDF</a>
        {% endif %}

        <small class="text-muted news-date">{{ news.date_posted|date:"Y, F j" }}</small>
    </div>
{% empty %}
<p>No news available.</p>
{% endfor %}

{% endblock %}