.btn {
    font-family: sans-serif;
    font-weight: 900;
}

.btn-primary {
    background-color: #031c3c;
    border-color: #eaeaea;

}

.btn-primary:hover,
.btn-primary:focus {
    color: #0a3663;
    background-color: #031c3c;
}

.image-button {
    display: inline-block;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 350px;
    height: 200px;
}

.image-button img {
    display: block;
    border-radius: 12px;
    width: 300px;
    height: auto;
}

.image-button:hover {
  transform: scale(1.02);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}