.box {
  background-color: white;
  padding: 50px;
  margin: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 30, 0.15);
  border-radius: 10px;
  border: 1px solid #ccc;
}

.layout__page-wrapper {
  padding-bottom: 20px;
  background-color: #EFE4D2;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.text-link {
    color: #344CB7;
}

.text-link:hover {
    color: black;
}

table {
  border-collapse: collapse;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}

.form-row {
  padding: 7px;
}

.label {
  font-weight: bold;
  width: 40%;
}

.frp-input-grid {
  display: grid;
  grid-template-columns: 5fr 2fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  height: 50%;
}

.frp-input-grid-top-left {
  grid-column: 1;
  grid-row: 1;
}

.frp-input-grid-bot-left {
  grid-column: 1;
  grid-row: 2;
}

.frp-input-grid-right {
  grid-column: 2;
  grid-row: 1 / 3; /* Span both rows */
}