.box-container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 6px 10px rgba(0, 0, 30, 0.15);
    border-radius: 10px;
    border: 1px solid #ccc;
}

.page-wrapper {
    width: 100vw;
    height: 100vh;
    z-index: -1;
    margin-top: 0;
    padding-top: 20px; /* controlled spacing under navbar */
}

.background-color {
  background-color: #eaeaea; /* or whatever .page-wrapper uses */
}

.body {
    margin: 0;
    font-family: sans-serif;
}

.max-width {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
}

.color-theme-navbar {
    background-color: #031c3c;
}
