.layout {
    display: grid;
  grid-template-areas:
      "topbar topbar"
      "sidebar page_content"
    "sidebar footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: 50px 1fr 90px;
  min-height: 110vh;
}

.layout__page-wrapper {
  grid-area: page_content;
  display: grid;
  grid-template-areas:
    "left_content main_content right_content";
  grid-template-columns: 1fr 1150px 1fr;;
  }

.layout__page-left {
  grid-area: left_side;
}

.layout__page-main {
  grid-area: main_content;
}

.layout__page-right {
  grid-area: right_side;
}

.footer {
  grid-area: footer;
}