#topbar {
	background: #131D4F;
	height: 50px;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid black;
	z-index: 1;
}

#sidebar {
	position: fixed;
	background: #131D4F;
	width: 30px;
	border-right: 2px solid black;
	top: 48px;
	height: 100vh;
	transition: width 0.3s ease;
	z-index: 2;
}

#sidebar.open {
	width: 300px;
}

.sidebar-open #sidebar {
  width: 300px;
}

.sidebar-link {
	display: block;
	font-size: 16px;
	margin-top: 10px;
	color: #954C2E;
	font-weight: bold;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease;
	white-space: nowrap;
  	overflow: hidden;
}

.sidebar-open .sidebar-link {
	opacity: 1;
	pointer-events: auto;
	
}

.sidebar-link:hover {
	color: black;
}

#sidebar-icon {
	position: fixed;
	z-index: 3;
	top: 20px;
	width: 30px;
	left: 0px;
	transition: left 0.3s ease, transform 0.3s ease;
	transform: rotate(0deg);
}

.sidebar-open #sidebar-icon {
	left: 270px;
	transform: rotate(270deg);
}