.sidebar {
	grid-area: sidebar;
	background: #131D4F;
	width: 35px;
	border-right: 2px solid black;
	transition: width 0.3s ease;
	z-index: 2;
}

.sidebar-open .sidebar {
	width: 300px;
}

.sidebar-link {
	display: block;
	font-size: 16px;
	margin-top: 15px;;
	color: #954C2E;
	font-weight: bold;
	text-decoration: none;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s ease;
	white-space: nowrap;
	overflow: hidden;
	font-family: inter;
}

.sidebar-open .sidebar-link {
	opacity: 1;
	pointer-events: auto;
	
}

.sidebar-link:hover {
	color: black;
}

.sidebar.transitioning {
	pointer-events: none;
}