

.loginArea {
  height: 50px;
  width: 250px;

  display: grid;
  grid-template-areas:
    "emailField loginField"
    "passwordField registerField";
  grid-template-columns: 1fr 100px;
  grid-template-rows: 1fr 1fr;
}

.emailField {
  height: 80%;
  width: 93%;
  align-content: center;
}

.passwordField {
  grid-area: passwordField;
  height: 80%;
  width: 93%;
  align-content: center;
}

.loginField {
  grid-area: loginField;
  width: 100%;
  align-content: center;
}

.registerField {
  grid-area: registerField;
  width: 100%;
  align-content: center;
}

.loginArea input {
  height: 90%;
  width: 100%;
}

.loginField .registerField button {
  height: 100%;
  width: 60px;
}

