

.loginArea {
  display: grid;
  grid-template-areas:
    "emailField loginField"
    "passwordField registerField";
  grid-template-columns: 1fr 85px;
  grid-template-rows: auto;
  width: 260px;
  column-gap: 5px;
}

.buttonField {
  grid-area: loginField;
  width: 100%;
  align-content: center;
}

.loginArea input {
  height: 25px;
}