.registration {
  display: grid;
  grid-template-areas: 
    "email email"
    "username password"
    "first_name last_name"
    "company company"
    "submitButton submitButton";
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
  width: 400px;
  box-sizing: border-box;
}

.email { 
  grid-area: email;
  width: 50%;
}

.registration > .email        { grid-area: email; }
.registration > .username     { grid-area: username; }
.registration > .password     { grid-area: password; }
.registration > .first_name   { grid-area: first_name; }
.registration > .last_name    { grid-area: last_name; }
.registration > .company      { grid-area: company; }
.registration > .submitButton { grid-area: submitButton; }
