.monitorGraph {
  padding: var(--space-1);
  position: relative;
  cursor: pointer;
  display: inline-block; /* important for scaling */
  transition: transform 0.05s ease, width 0.05s ease, height 0.05s ease;
  transform-origin: center center;
}

.zoomed {
  width: 500px;
  height: 500px;
  transform: translate(-16px, 0px)
}

.unzoomed {
  width: 230px;
  height: 230px;
}

.cpu {
  color: red;
}

.ram {
  color: blue;
}