.literature-upload-form-grid {
  display: grid;
  grid-template-columns: 100px 400px;
  gap: 16px 12px;
  margin: auto;
}

.literature-upload-form-group {
  display: contents; /* let label and input use the grid columns */
}

